body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.mainFormContainer {
  background-color: #f0eff4;
  height: 1200px;
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.mainFormContainer .form {
  background-color: #ffffff;
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 100px;
}

.mainFormContainer Input {
  padding: 15px;
  width: 250px;
  margin: 10px 100px;
  background-color: #f0eff4;
  border: none;
  opacity: 0.7;
}

.mainFormContainer .header {
  margin: 10px 100px;
  font-size: 30px;
  font-weight: 100;
  opacity: 0.5;
}

.mainFormContainer button {
  margin: 10px 100px;
  width: 280px;
  padding: 15px;
  font-size: 20px;
  font-weight: 100;
  opacity: 0.5;
}

.mainFormContainer .formText {
  margin: 10px 100px;
  font-size: 20px;
  font-weight: 100;
  opacity: 0.5;
}

.mainFormContainer .text {
  color: red;
  font-weight: bold;
}

.mainFormContainer .error {
  margin: 10px 100px;
  color: red;
}

input[type="file"] {
  display: none;
}

.mainFormContainer .uploadfileImage {
  border: 1px dashed grey;
}

.mainFormContainer .image {
  height: 90px;
  width: 90px;
  margin: 10px 200px;
}

.mainFormContainer .link {
  text-decoration: none;
}
